---
import Layout from "../layouts/Layout.astro";
import SoftwareCard from "../components/SoftwareCard.astro";

const response = await fetch("http://localhost:3000/v1/software");
const data = await response.json();
const softwares = data.data;
---

<Layout>
    <div class="grid grid--responsive-cols-3 gap--responsive">
        {softwares.map((software) => <SoftwareCard software={software} />)}
    </div>
</Layout>
