---
import Layout from "../../layouts/Layout.astro";
import SoftwareDetail from "../../components/SoftwareDetail.astro";

export async function getStaticPaths() {
  const response = await fetch("http://localhost:3000/v1/software");
  const data = await response.json();
  const softwares = data.data;

  return softwares.map((software) => {
    return {
      params: {
        id: software.id,
      },
    };
  });
}

const { id } = Astro.params;
const response = await fetch(`http://localhost:3000/v1/software/${id}`);
const software = await response.json();
---

<Layout>
  <div class="container">
    <SoftwareDetail software={software} />
  </div>
</Layout>
